<tr>
<td><%= count+1 %></td>
  <td>
  <% path = "/products/" + id.to_s %>
    <a href=<%= path %>><%= name %> </a>
  </td>
  <td>
    <% cat_path = "/categories/" + cat_id.to_s %>
    <a href=<%= cat_path %>><%= category %> </a>
  </td>
  <td>
    <%= number_to_currency(price / 100) %>
  </td>
  <td>
    <%= quantity %>
  </td>
</tr>