<tr>
  <td>
  <% source = "/uploads/product/image/" + img_id.to_s + "/" + "tiny_" + image %>
  <% alternate = "Tiny" + image %>
  <img src=<%= source %> alt=<%= alternate %>>
  </td>
  <td>
    <h4><%= name %></h4>
    <br>
    <p><%= description %></p>
  </td>
  <td>
  <%= number_to_currency(price / 100) %>
  </td>
  <td>
    <%= quantity %> 
  </td>
  <td>
   <%= number_to_currency(price * quantity / 100) %>
  </td>
</tr>